body {
    background-color: #171717;
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
.container {
    top: 0;
    left: 0;
    background-color: #090909;
    width: 100vw;
    height: 10vh;
    min-height: 40px;
}

.container > img {
    min-height: 40px;
    height: 10vh;
    width: auto;
    margin-left: 40px;
}

.main > img {
    height: 700px;
    width: auto;
}
.menu {
    position: absolute;
    right: 0;
    top: 2vh;
    margin-right: 20px;
}

.menu div {
    display: inline-block;
}

.home {
    margin-right: 20px;
}

.home a:hover {
    color: aquamarine;
}

/* Dropdown menu 1 */

.dropdown-1 {
    margin-right: 20px;
}

.sub-menu-1 {
    position: absolute;
    margin-left: 15px;
    margin-top: -15px;
    background-color: #090909;
    padding: 10px;
    border-radius: 15px 15px;
    display: none;
}

.dropdown-1 a:hover {
    color: aquamarine;
}

.menu div:hover .sub-menu-1 {
    display: block;
}

.dropdown-1 ul li {
    list-style-type: none;
    margin-top: 2px;
}

.main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: white;
    max-width: 800px;
    text-align: center;
}

.main > img {
    margin-top: 20px;
}